@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    padding: 0px;
    margin: 0px;
    background-color: #111111;
}
p {
    padding: 0px;
    margin: 0px;
}

.btn {
    padding: 7px 33px;
    font-size: 20px;
    border: none;
}

.btn-primary {
    background-color: #FA5B0F;
    color: white;
    font-family: 'Poppins', 'sans-serif';
}

.btn-primary:hover {
    background-color: #d14301;
    color: white;
    font-family: 'Poppins', 'sans-serif';
}

.btn-primary:active {
    background-color: #ff5100;
    color: white;
    font-family: 'Poppins', 'sans-serif';
}

.app {
    margin: 0px;
    padding: 0px;
}

.nav {
    background-color: black;
}

.nav-container {
    padding: 7px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: auto;
    height: 42px;

}

.nav-logo h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: white;
    padding: 0px;
    margin: 0px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nav-menu a {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
}

.nav-menu a .active {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: orangered;
    text-decoration: none;
}

.nav-user-menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nav-user-menu a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
}



/* Section */
.welcome {
    margin-top: 40px;
    margin-bottom: 40px;
}

.message {
    padding: 0px;
    background: #FA5B0F;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;

}

.message .message-success {
    background-color: #FA5B0F;
}

.message .alert-danger {
    background-color: rgb(167, 0, 0);
}

.message p {
    padding: 0px 400px;
    color: white;
}

.section-container {
    margin: 69px 150px;
    padding: 0px;
    background: #1E1E1E;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
}


.section-container h3 {
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 65px;
    font-weight: 700;
    color: #FA5B0F;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.section-container .welcome .body {
    padding: 30px 135px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
}

.section-container form {
    padding: 24px 123px;
}

.section-container form .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 500px;
    padding-bottom: 25px;
}

.section-container form .form-group label {
    font-size: 20px;
    font-family: 'Poppins', 'sans-serif';
    color: #FA5B0F
}

.section-container form .form-group input {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    color: white;
    font-size: 24px;
    background-color: #111111;
    border: none;
}

.section-container form .form-group input:focus {
    border: 3px solid #FA5B0F;
}

.message-text {
    font-family: 'Poppins', 'sans-serif';
    font-size: 24px;
    padding: 0px;
}

.section-container .welcome .body .profile {
    padding-left: 35px;
    padding-right: 35px;
}

.section-container .welcome .body .profile .profile-main {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.section-container .welcome .body .profile .profile-main .image-group {
    display: flex;
    position: relative;
    width: 340px;
    height: 336px;
}

.section-container .welcome .body .profile .profile-main .image-group .image-main {
    width: 208px;
    height: 255px;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 132px;
}

.section-container .welcome .body .profile .profile-main .image-group .image-second {
    position: absolute;
    width: 173px;
    height: 183px;
    top: 153px;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.section-container .welcome .body .profile .profile-main .image-group .icon-group {
    position: absolute;
    width: 140px;
    height: 37px;
    left: 200px;
    top: 278px;
    display: flex;
    gap: 10px;
    justify-items: center;

}

.section-container .welcome .body .profile .profile-main .image-group .icon-group .icon {
    content: "";
    border-radius: 50%;
    background-color: #FA5B0F;
    width: 37px;
    height: 37px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', 'sans-serif';
    font-size: 14px;
    border: none;

}


.section-container .welcome .body .profile .profile-main .bio-group {
    display: flex;
    flex-wrap: wrap;

}

.section-container .welcome .body .profile .profile-main .bio-group .items {
    display: flex;
    flex-direction: row;
    flex: 20;
}

.section-container .welcome .body .profile .profile-main .bio-group .items .items-group {
    display: flex;
    flex-direction: column;
    width: 190px;
}

.section-container .welcome .body .profile .profile-main .bio-group .items .items-group img {
    width: 10px;
    position: absolute;
}

.section-container .welcome .body .profile .profile-main .bio-group .items .items-group .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin: 0px;
    padding: 0px 0px 0px 20px;
}

.section-container .welcome .body .profile .profile-main .bio-group .items .items-group span {
    font-size: 14px;
    color: white;
    margin: 0px;
    padding: 0px 0px 0px 20px;
}

.experience {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.experience .education {
    width: 380px;
    display: flex;
    flex-direction: column;
}

.experience .education .title {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    color: #FFFFFF;
}

.experience .education .experience-group {
    display: flex;
    flex-direction: row;
    padding-left: 34px;
    gap: 30px;
    padding-top: 20px;
}


.experience .education .experience-group strong {
    font-family: 'Poppins';
    font-size: 16px;
    color: #FFFFFF;
}

.experience .education .experience-group .__ {
    display: flex;
    flex-direction: column;
}
.experience .education .experience-group .__ p {
    font-family: 'Poppins';
    font-size: 14px;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}