{% extends 'layouts.html' %}

{% block home %}
style="color: orange;"
{% endblock %}

{% block content %}
<div class="section-container">

    <div class="welcome">
        <h3>
            Welcome
        </h3>
        <div class="body">
            <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula euismod nunc eget mollis. Sed ultricies
            nunc ut quam tincidunt congue. Duis ante enim, vehicula quis pellentesque sit amet, lobortis vel magna. Aliquam erat
            volutpat. Nulla vel feugiat est. Nam sit amet risus sed neque ornare imperdiet. Donec at semper ligula, eget viverra
            nibh.
        </p>
        </div>
    </div>

</div>
{% endblock %}